./node_modules
node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
npm-debug.log* 
yarn-debug.log*
yarn-error.log*
.pnp.*
.pnp.js
.vscode/
.idea/
coverage/
dist/

# logs
logs

# uploads
uploads

/generated/prisma

/output/*
